<div class="card mt-5 mx-auto" style="width: 500px;">
    <h3 class="card-header">Bejelentkezés</h3>
    <div class="card-body">
        <form (ngSubmit)="login()">
            <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="text" class="form-control" name="username" id="username" [(ngModel)]="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Jelszó</label>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password"> 
            </div>

            <div class="form-check">
                <input (change)="rememberMe()" type="checkbox" class="form-check-input" value="" id="remember">
                <label for="remember" class="form-check-label">Maradj bejelentkezve</label>
            </div>

            <div class="mt-3 mb-3 d-grid gap-2">
                <button  class="btn btn-primary">Bejelentkezés</button>
            </div>

            <p style="text-align: center; color: black;">Nincs még profilod? <a style="color: red;" routerLink="/register">Regisztálj</a></p>
        </form>
    </div>
</div>