:host {
  background-color: black;
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
body {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  color: #666666;
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parent > div {
  padding: 20px;
}
.parent {
  overflow: hidden;
  position: relative;
  color: white;
  margin: auto;
  height: 99%;
  width: 99%;
  padding: 10px 0px;
  padding-right: 10px;
}

.child-left {
  border: 3px solid white;
  border-radius: 15px;
  width: 50%;
  height: 100%;
}

.child-right {
  color: white;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  border: 3px solid white;
  width: 50%;
}

h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  margin: 25px 0 10px 0;
}

.video-list {
  display: flex;
  justify-content: center;
  height: 100%;
}

.video {
  height: 350px;
  width: 500px;
  margin: 20px 0;
  padding-right: 25px;
}

iframe {
  border: 2px solid white;
}

ul {
  border: 3px solid white;
}

nav {
  padding-top: 30px;
}

nav ul {
  height: 80%;
  width: 80%;
}
nav ul {
  overflow: hidden;
  overflow-y: scroll;
}
