<div class="col">
  <div
    style="
      position: absolute;
      top: 10%;
      right: 0;
      bottom: 0;
      left: 0;
      height: 90%;
      background-color: rgb(33, 37, 41);
    "
  >
    <div class="parent">
      <div class="child-left">
        <h1>Videó gyűjtemény.</h1>
        <nav class="video-list">
          <ul>
            <div class="video">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/iNn-VH5Lx58"
              >
              </iframe>
            </div>
            <div class="video">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/i3A9mJNa64M"
              >
              </iframe>
            </div>
            <div class="video">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/mAQP5ASH-BA"
              >
              </iframe>
            </div>
            <div class="video">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/YTPIs3tErAI"
              >
              </iframe>
            </div>
            <div class="video">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/iYoXFg5D4NU"
              >
              </iframe>
            </div>
            <div class="video">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/ma--dkgFrSA"
              >
              </iframe>
            </div>
          </ul>
        </nav>
      </div>
      <div class="child-right">
        <h1>IDÉZETEK, MEDITÁCIÓ, FELPÖRGETÉS<br />///TO-DO///</h1>
      </div>
    </div>
  </div>
</div>
