:host {
  background-color: black;
}
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow);
body {
  font-family: Open Sans, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  color: #666666;
  position: relative;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 120px;
  background-color: #666666;
  border: 5px solid white;
  border-radius: 25px;
  margin: 20px auto;
}

h1 {
  padding-top: 15px;
  color: white;
}

.header-selector label {
  color: white;
  font-size: 20px;
  margin: 0 20px;
}

.header-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80px;
  background-color: #666666;
  border: 5px solid white;
  border-radius: 25px;
  margin: 20px auto;
}

@media (min-width: 1501px) {
  h1 {
    font-size: 100px;
  }
  .selects {
    margin: 0 40px;
  }
}

@media (max-width: 1500px) {
  h1 {
    font-size: 70px;
  }

  .selects {
    margin: 0 20px;
  }
}

@media (max-width: 1060px) {
  h1 {
    font-size: 45px;
  }
  .header-selector {
    width: 90%;
  }
  .selects {
    margin: 0 2px;
  }
}

@media (max-width: 685px) {
  h1 {
    font-size: 25px;
  }
  .header-selector {
    width: 90%;
  }
  .selects {
    margin: 0 2px;
  }
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  margin-bottom: 25px;
}

#gallery img {
  width: 20%;
  height: 270px;
  object-fit: cover;
  margin: 8px;
  border-radius: 10px;
  border: 5px solid rgb(146, 143, 143);
}
