<div class="col">
  <div
    class="card text-white bg-dark"
    style="
      position: absolute;
      top: 10%;
      right: 0;
      bottom: 0;
      left: 0;
      border: 15px solid orange;
      margin-bottom: 5px;
      border: 2px solid white;
      border-radius: 25px;
    "
  >
    <div id="boxes">
      <div class="sectiontitle">
        <h1 class="ml1" style="padding-top: 15px">
          <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">MEALPREP</span>
            <span class="line line2"></span>
          </span>
        </h1>
        <span class="headerLine"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h2>CONTENT BOX 1</h2>
      </div>

      <div class="col-md-4">
        <h2>CONTENT BOX 2</h2>
      </div>

      <div class="col-md-4">
        <h2>CONTENT BOX 3</h2>
      </div>
    </div>
  </div>
</div>
