<div class="col">
  <div
    class="card text-white bg-dark"
    style="
      position: absolute;
      top: 10%;
      right: 0;
      bottom: 0;
      left: 0;
      border: 15px solid orange;
      margin-bottom: 5px;
      border: 2px solid white;
      border-radius: 25px;
    "
  >
    <div class="card-body">
      <div class="sectiontitle">
        <h1 class="ml1">
          <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">A KEZDETEK</span>
            <span class="line line2"></span>
          </span>
        </h1>
        <span class="headerLine"></span>
      </div>
      <h2 style="text-align: center">
        Segíts nekünk a megfelelő edzéseket kiválasztani számodra.
      </h2>
      <div class="form">
        <form action="/action_page.php">
          <div class="mb-3 mt-3">
            <label for="pwd" class="form-label">Melyik pozíción játszol?</label>
            <select
              required
              class="form-select"
              aria-label="Default select example"
              style="width: 500px; margin-right: auto; margin-left: auto"
            >
              <option selected>Nyisd meg a lenyíló listát</option>
              <option value="1">Csatár</option>
              <option value="2">Szélső futó</option>
              <option value="3">Szélső védekező</option>
              <option value="4">Támadó középpályás</option>
              <option value="5">Box to Box középpályás</option>
              <option value="6">Védekező középpályás</option>
              <option value="7">Középhátvéd</option>
              <option value="8">Kapus</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label"
              >Melyik individuális képességededet tartod a
              legfejlettebbnek?</label
            >
            <select
              required
              class="form-select"
              aria-label="Default select example"
              style="width: 500px; margin-right: auto; margin-left: auto"
            >
              <option selected>Nyisd meg a lenyíló listát</option>
              <option value="1">Ugrás</option>
              <option value="2">Fizikum</option>
              <option value="3">Lövések</option>
              <option value="4">Pozicionálás</option>
              <option value="5">Passzolás</option>
              <option value="6">Cselezés</option>
              <option value="7">Labdakezelés</option>
              <option value="8">Döntéshozatal</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label"
              >Melyik individuális képességedet szeretnéd fejleszteni?</label
            >
            <select
              required
              class="form-select"
              aria-label="Default select example"
              style="width: 500px; margin-right: auto; margin-left: auto"
            >
              <option selected>Nyisd meg a lenyíló listát</option>
              <option value="1">Ugrás</option>
              <option value="2">Fizikum</option>
              <option value="3">Lövések</option>
              <option value="4">Pozicionálás</option>
              <option value="5">Passzolás</option>
              <option value="6">Cselezés</option>
              <option value="7">Labdakezelés</option>
              <option value="8">Döntéshozatal</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
